<md-input-container>
    <label>Month</label>
    <md-select ng-model="ctrl.selectedMonth" md-on-close="ctrl.prepareDatesArray()">
        <md-option ng-value="opt" ng-repeat="opt in ctrl.months">{{ opt }}</md-option>
    </md-select>
</md-input-container>
<md-grid-list md-cols-gt-md="4" md-cols-gt-lg="6" md-cols-md="3" md-cols-sm="1" md-cols="3" md-row-height="1:1" md-row-height-gt-md="1:1.5" md-gutter="8px">
    <md-grid-tile class="md-whiteframe-z2" style="background: white" md-rowspan="1" md-colspan="1"
        ng-repeat="day in ctrl.dates">
        <div>
            <p ng-hide="day.plan" class="md-body-2">No plan available</p>
            <p ng-show="!!day.plan && day.plan.isPublished" class="md-body-2">Published plan</p>
            <p ng-show="!!day.plan && !day.plan.isPublished" class="md-body-2">In Progress</p>
            <p class="md-caption">{{day.date.toDate() | date: 'mediumDate'}}</p>
        </div>
        <md-grid-tile-footer>
            <div layout="row" layout-align="center center">
                <md-button ui-sref="newplan" ng-hide="day.plan" class="md-icon-button md-primary">
                    <md-tooltip>Create plan</md-tooltip>
                    <md-icon>add</md-icon>
                </md-button>
                <md-button ui-sref="editplan({'planId': day.plan.encodedId})" ng-show="day.plan" class="md-icon-button md-primary">
                    <md-tooltip>Edit plan</md-tooltip>
                    <md-icon>edit</md-icon>
                </md-button>
                <md-button ui-sref="viewplan({'planId': day.plan.encodedId})" ng-show="day.plan && day.plan.isPublished" class="md-icon-button md-accent">
                    <md-tooltip>View plan</md-tooltip>
                    <md-icon>visibility</md-icon>
                </md-button>
                <md-button ng-show="day.plan" class="md-icon-button md-warn">
                    <md-tooltip>Delete plan</md-tooltip>
                    <md-icon>delete</md-icon>
                </md-button>
            </div>
        </md-grid-tile-footer>
    </md-grid-tile>
</md-grid-list>